---
// src/pages/index.astro (atau src/pages/blog.astro)
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro'
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'; //

const posts = (await getCollection('blog')).sort( //
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="intro">
		<h1>Selamat Datang di {SITE_TITLE.split(':')[0]}</h1>
		<p>{SITE_DESCRIPTION}</p>
	</section>

	<section class="post-list">
		<h2>Postingan Terbaru</h2>
		{posts.map((post) => <BlogPostPreview post={post} />)}
	</section>
</BaseLayout>

<style>
    .intro {
        text-align: center;
        margin-bottom: 3em;
    }
    .intro h1 {
        color: var(--color-primary);
    }
    .post-list h2 {
        margin-bottom: 1.5em;
        border-bottom: 2px solid var(--color-primary);
        padding-bottom: 0.5em;
        display: inline-block; /* Agar border hanya selebar teks */
    }
</style>